h1 {
  color: purple;
  text-align: center;
}


h2 {
  color: indigo;
  font-style: normal;
  font-size: 24;
  text-align: center;
}


h3 {
  color: violet;
  font-style: normal;
  font-size: 17;
  text-align: left;
}

p{
  font-family: fantasy;
}

ul {
  line-height: 40px;
}

.logic {
  text-align: center;
  background-image: url("../img/pic4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px;
  padding-left: 300px;
  padding-right: 300px;
}
.about-me {
  text-align: center;
  background-color: black;
  font-style: normal;
  color: white;
  padding: 100px;
}
.about-me h1 {
   text-decoration: underline purple;
}
.imagination {
  text-align: center;
  background-image: url("../img/pic9.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
  padding: 100px;
}
.imagination h1 {
  text-decoration: underline black;
}
